@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/* line 6, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 12, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 18px;
  text-align: center;
}

/* line 19, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
section {
  margin: 2em 0 2em 0;
}

/* line 23, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
img {
  width: 325px;
  height: 200px;
}

/* line 28, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.nav {
  background: linear-gradient(135deg, #eab013, #eccf80);
  padding: 10px;
  text-align: start;
}

/* line 32, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.nav i {
  color: #fefefe;
  margin-left: 0.5em;
}

/* line 36, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.nav ul {
  display: none;
}

/* line 41, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
main i {
  color: #ef9606;
  width: 32px;
  height: 32px;
  margin: 1em 0 0.3em 0;
  filter: drop-shadow(1px 4px 2px #3f95b8);
}

/* line 49, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.container-logo {
  text-align: center;
}

/* line 51, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.container-logo .logo {
  margin: 1em 0 1em 0;
  max-width: 200px;
  max-height: 200px;
}

/* line 58, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.carrossel {
  text-align: center;
  margin: 1em 0 0 0;
}

/* line 61, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.carrossel img {
  margin-bottom: 0.8em;
}

/* line 66, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.vantagens {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 70, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.vantagens div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 78, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.localizacao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 82, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.localizacao p {
  align-self: flex-start;
  text-align: left;
  margin: 0.8em 0 0.8em 1.3em;
  font-size: 22px;
}

/* line 90, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.pontos-turisticos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 94, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.pontos-turisticos p {
  align-self: flex-start;
  text-align: left;
  margin: 0.8em 0 0.8em 1.3em;
  font-size: 22px;
  width: 90%;
}

/* line 103, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.carrossel,
.localizacao,
.pontos-turisticos {
  background: linear-gradient(135deg, #eab013, #eccf80);
  box-shadow: 5px 5px 15px rgba(44, 44, 44, 0.5);
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
}

/* line 111, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.carrossel img,
.localizacao img,
.pontos-turisticos img {
  margin-top: 0.8em;
}

/* line 116, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.descricao {
  font-size: 15px !important;
  width: 85%;
}

/* line 121, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 125, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.contato div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 131, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.contato button {
  all: unset;
}

/* line 136, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.selos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

/* line 141, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.selos img {
  width: 150px;
  height: 150px;
  filter: drop-shadow(5px 5px 15px rgba(44, 44, 44, 0.5));
}

/* line 148, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
footer {
  background: linear-gradient(135deg, #eab013, #eccf80);
  font-family: monospace;
  font-size: 12px;
  color: #333;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 158, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
footer p {
  width: 75%;
}

/* line 161, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
footer a {
  color: #727272;
}

@media (min-width: 768px) {
  /* line 167, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
  .nav {
    padding: 15px;
  }
  /* line 169, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
  .nav i {
    display: none;
  }
  /* line 172, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
  .nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  /* line 178, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
  .nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #fefefe;
    font-size: 0.9em;
    transition: 0.8s;
  }
  /* line 186, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
  .nav a:hover {
    color: #4ebce8;
  }
  /* line 191, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
  .vantagens,
  .contato,
  .selos {
    flex-direction: row;
    justify-content: center;
    padding: 0 4em;
  }
}

/*# sourceMappingURL=home.css.map */