@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/* line 6, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 12, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 18px;
  text-align: center;
}

/* line 19, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
section {
  margin: 2em 0 2em 0;
}

/* line 23, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
img {
  width: 325px;
  height: 200px;
}

/* line 28, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.nav {
  background: linear-gradient(135deg, #eab013, #eccf80);
  padding: 10px;
  text-align: start;
  z-index: 1000;
}

/* line 35, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 41, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.botao_menu {
  display: block;
  color: #fefefe;
  margin-left: 0.5em;
}

/* line 47, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.menu {
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  top: 41px;
  right: 0px;
  background: linear-gradient(180deg, #eab013, #ef9606);
  z-index: 1000;
  transition: 0.5s;
  visibility: hidden;
  overflow-y: hidden;
  box-shadow: 7px 12px 15px rgba(44, 44, 44, 0.5);
}

/* line 60, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 0.8em 0;
  transition: 0.5s;
}

/* line 69, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.menu li {
  margin-left: 1em;
}

/* line 72, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fefefe;
  font-size: 0.9em;
  transition: 0.8s;
  text-shadow: 3px 2px 2px #3f95b8;
}

/* line 81, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.menu a:hover {
  color: #4ebce8;
  text-shadow: 3px 2px 2px #fefefe;
}

/* line 87, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.nav.ativo .menu {
  height: 330px;
  visibility: visible;
  overflow-y: auto;
}

/* line 93, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
main {
  padding-top: 2em;
}

/* line 95, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
main i {
  color: #ef9606;
  width: 32px;
  height: 32px;
  margin: 1em 0 0.3em 0;
  filter: drop-shadow(1px 4px 2px #3f95b8);
}

/* line 104, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.container-logo {
  text-align: center;
}

/* line 106, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.container-logo .logo {
  margin: 1em 0 1em 0;
  max-width: 200px;
  max-height: 200px;
}

/* line 113, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.carrossel {
  text-align: center;
  margin: 1em 0 0 0;
}

/* line 116, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.carrossel img {
  margin-bottom: 0.8em;
}

/* line 121, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.vantagens {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 125, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.vantagens div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 133, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.localizacao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 137, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.localizacao p {
  align-self: flex-start;
  text-align: left;
  margin: 0.8em 0 0.8em 1.3em;
  font-size: 22px;
}

/* line 145, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.pontos-turisticos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 149, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.pontos-turisticos p {
  align-self: flex-start;
  text-align: left;
  margin: 0.8em 0 0.8em 1.3em;
  font-size: 22px;
  width: 90%;
}

/* line 158, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.carrossel,
.localizacao,
.pontos-turisticos {
  background: linear-gradient(135deg, #eab013, #eccf80);
  box-shadow: 5px 5px 15px rgba(44, 44, 44, 0.5);
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
}

/* line 166, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.carrossel img,
.localizacao img,
.pontos-turisticos img {
  margin-top: 0.8em;
}

/* line 171, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.descricao {
  font-size: 15px !important;
  width: 85%;
}

/* line 176, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 180, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.contato div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 186, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.contato button {
  all: unset;
}

/* line 191, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.selos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

/* line 196, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
.selos img {
  width: 150px;
  height: 150px;
  filter: drop-shadow(5px 5px 15px rgba(44, 44, 44, 0.5));
}

/* line 203, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
footer {
  background: linear-gradient(135deg, #eab013, #eccf80);
  font-family: monospace;
  font-size: 12px;
  color: #333;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 213, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
footer p {
  width: 75%;
}

/* line 216, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
footer a {
  color: #727272;
}

@media (min-width: 768px) {
  /* line 222, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
  .nav {
    padding: 15px;
  }
  /* line 226, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
  .botao_menu {
    display: none;
  }
  /* line 230, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
  main {
    padding-top: 2.5em;
  }
  /* line 234, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
  .menu {
    display: block;
    position: initial;
    visibility: visible;
    height: auto;
    background: transparent;
    box-shadow: none;
  }
  /* line 241, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
  .menu ul {
    flex-direction: row;
    padding: 0;
  }
  /* line 247, ../Projetos Pessoais/rebuild-hostel-republica/sass/scss/home.scss */
  .vantagens,
  .contato,
  .selos {
    flex-direction: row;
    justify-content: center;
    padding: 0 4em;
  }
}

/*# sourceMappingURL=home.css.map */